@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-main: #1e1e1e;
}

html {
  @apply text-slate-900 bg-white;
  font-family: "JetBrains Mono";
  transition: background-color,color ease-in 0.2s
}

.dark {
  @apply text-white bg-[var(--dark-main)];
}


::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: #3e3e3e;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #525252;
}
